*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{

    min-height: 100vh;
    min-width: 100vh;
    background-color: antiquewhite;
}

.parent
{
    background-color: aqua;
    height: 100px;
    width: 100px;
}