/* .two
{

    color: blue;
    background-color: blanchedalmond;
    padding: 8px;
    margin: 8px 8px;
    border: 8px solid red;
    text-transform: capitalize;
    text-align: center;

}
#oneid
{

    margin: 25px;
    box-sizing:border-box;
    background-color: blue;
    text-transform: capitalize;
    width: 100px;
    text-align: end;
}

*
{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

span
{
    background-color: green;
    color: black;
} */

/* .parent
{
    box-sizing: border-box;
    width: 300px;
    border: 16px;
    border-style: solid;
} */

/* .btn
{
    display: block;
    padding: 16px;
    border-radius: 8px;
    border : none;
    margin: 10px auto;
    width: 20em;
}

.btn-small{
    display: block;
    padding: 16px;
    border-radius: 8px;
    border : none;
    margin: 10px auto;
    width: 120px;

} */

/* *
{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
} */

/* body{
    background-color: rgb(25, 229, 185);
    height :50vh;
}

.parent{

    background-color: antiquewhite;
    height: 100%;
}

.child
{
    background-color: aqua;
    height: 100%;
    padding: 8px;

} */

/* .child>:first-child{
    background-color: aqua;
}

.child>:nth-child(2){
    background-color: rgb(17, 209, 91);
}

.child>:last-child
{

    background-color: gold;
    
}

/* .child>:last-child>:nth-child(3) /* if li>nth child then it will check nth child which is ul not any random element*/ 
/* {

    background-color: rgb(150, 16, 94);
    width: fit-content;
    
}  */

.parent
{

    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.child
{
    background-color: blanchedalmond;
    border: 1px;
    border-style: solid;
    border-color: red;
    flex-basis: 100px;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: space-between;
}

.childtwo
{

   justify-content: space-between;
    /* flex-grow: 1; */
}